.App {
  font-family: sans-serif;
  text-align: center;
  background: #ebeef2;
  height: 100vh;
  padding: 100px 100px 60px;
}

.container {
  background: white;
  height: 50vh;
  box-shadow: 0px 2px 2px #00000029;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.decrement, .increment {
  width:60px;
  height:40px;
  line-height: 40px;
  background:#ffffff;
  color: #b84a42;
  padding:8px 5px 8px 5px;
  border:2px solid #b84a42;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
}

.decrement {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.increment {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.decrement:hover, .increment:hover {
  background:#b84a42;
  color: #ffffff;
}

.count {
  height:54px;
  width: 70px;
  background: #fae5e3;
  color: #b84a42;
  text-align: center;
  font-size: 26px;
  border:2px solid #b84a42;
  border-right: none;
  border-left: none;
  display: inline-block;
  vertical-align: middle;
}

.counterValue {
  margin-top: 20px;
}

.loaderDiv {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  margin-right: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}